body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f0f2f5;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

/* cards */
.card {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* flex layout */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* inputs */
.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}

select.input,
input[type="date"].input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* button */
.btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;

}

.btn:hover {
  background: #0056b3;
}

/* text colors */
.income {
  color: green;
  font-weight: bold;
}

.expense {
  color: red;
  font-weight: bold;
}

/* delete */
.delete-btn {
  color: red;
  border: none;
  background: none;
  cursor: pointer;
}

/* summary */
.summary {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.summary div {
  flex: 1;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
}